/* idm-blog.css | @imdevdaniel */


/* Material Colors Palette
   ==========================================================================
    dark-primary-color:     #0288d1 | rgb(2, 136, 209);
    primary-color:          #03a9f4 | rgb(3, 169, 244);
    light-primary-color:    #b3e5fc | rgb(179, 229, 252);
    text-and-icons:         #fff    | rgb(255, 255, 255);
    accent-color:           #ff4081 | rgb(255, 64, 129);
    primary-text:           #212121 | rgb(33, 33, 33);
    secondary-text:         #727272 | rgb(114, 114, 114);
    divider-color:          #b6b6b6 | rgb(182, 182, 182);
    light-divider-color:    #e3e3e3 | rgb(227, 227, 227);
   ========================================================================== */

/* Font Sizes - 1:3 Scale (~ rounded in some cases)
   ==========================================================================
    body-size:  10px;
    base-x1/2:  0.5rem  =   5px;
    base-x3/4:  0.7rem  =   7px;
    base-size:  0.9rem  =   9px;
    base-x2:    1.2rem  =   12px;
    base-x3:    1.6rem  =   16px;
    base-x4:    2.1rem  =   21px;
    base-x5:    2.8rem  =   28px;
    base-x6:    3.8rem  =   38px;
    base-x7:    5rem    =   50px;
    base-x8:    6.7rem  =   67px;
    base-x9:    9rem    =   90px;
    base-x10:   12rem   =   120px;
    base-x11:   16rem   =   160px;
    base-x12:   21rem   =   210px;
   ========================================================================== */


/* Global styles
   ========================================================================== */

a {
    /*color: #ff4081;*/
    border-bottom: 1px solid transparent;
    color: #ff4081;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #ff4081;
}

body {
    background-color: #eee;
    color: #212121;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 3.8rem;
    margin: 0;
}

h2,
h3 {
    margin: 0;
    padding: 1.5em 0 0.5em;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    letter-spacing: 0.125em;
    font-size: 1.6rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.6rem;
    font-weight: 600;
}

html {
    font-size: 10px;
}

input {
    border-radius: 0;
    font-size: 1.6rem;
    margin: 0;
    padding: 0.7rem 0;
    -webkit-appearance: none;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0.5em 0;
}


.clearer {
    clear: both;
}


::-moz-selection {
    background-color: #ff4081;
    color: #fff;
}

::selection {
    background-color: #ff4081;
    color: #fff;
}



/* Mobile and small screen devices
   ========================================================================== */

footer {
    background-color: #0288d1;
    font-size: 1.6rem;
    padding: 3.8rem 0 5rem;
}

footer div {
    display: block;
    width: 100%;
}

footer div:last-of-type {
    margin: 1.6rem auto 0;
    width: 50%;
}

footer div a {
    border-bottom: 0;
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 0.5rem 0;
    text-align: center;
}

footer div a:hover {
    border-bottom: 0;
}

footer div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer div ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 25%
}

footer div ul li:nth-child(even) {
    margin: 0 1.6rem;
}

header {
    background-color: #03a9f3;
    color: #fff;
    margin:  0 0 2.8rem;
    padding: 1.6rem 0 2.1rem;
}

nav {
    display: none;
}


.absolute-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ad-box {
    margin-bottom: 3.8rem;
    position: relative;
    text-align: center;
}

.ad-box a,
.ad-box a:hover {
    border-bottom: 0;
}

.ad-box img {
    max-width: 300px;
    width: 100%;
}

.ad-box .card-box {
    padding: 3.8rem 6% 2.1rem;
    text-align: center;
    width: auto;
}

.author-label,
.author-label a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
    font-weight: 400;
}

.author-label a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

/*.author-label img {
    border-radius: 16px;
    height: 32px;
    vertical-align: bottom;
    width: 32px;
}*/

.post-continue {
    background-color: #0288d1;
    font-size: 1.6rem;
    height: auto;
    margin: 2.1rem auto;
    text-align: center;
    width: 80%;
}

.post-continue a {
    border: 0;
    color: #fff;
    padding: 0.9rem 0;
    width: 100%;
}

.post-header-black { background-color: #000 !important; }
.post-header-blue { background-color: #2196f3 !important; }
.post-header-bluegrey { background-color: #607d8b !important; }
.post-header-brown { background-color: #795548 !important; }
.post-header-cyan { background-color: #00bcd4 !important; }
.post-header-deeppurple { background-color: #673ab7 !important; }
.post-header-deeporange { background-color: #ff5722 !important; }
.post-header-green { background-color: #4caf50 !important; }
.post-header-grey { background-color: #9e9e9e !important; }
.post-header-indigo { background-color: #3f51b5 !important; }
.post-header-lightblue { background-color: #03a9f4 !important; }
.post-header-orange { background-color: #ff9800 !important; }
.post-header-pink { background-color: #e91e63 !important; }
.post-header-purple { background-color: #9c27b0 !important; }
.post-header-red { background-color: #f44336 !important; }
.post-header-teal { background-color: #009688 !important; }

.card-box {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0 6%;
    position: relative;
    width: 100%;
}

.card-box#entry-body {
    padding-bottom: 2.1rem;
}

.post-meta {
    color: #ff4081;
    padding: 2.1rem 0;
}

.post-meta > div:first-of-type {
    margin-bottom: 0.5rem;
}

.post-meta > div i {
    vertical-align: bottom;
    margin-right: 0.5rem;
}

.post-meta-date,
.post-meta-tags {
    font-size: 1.6rem;
    vertical-align: super;
}

.post-meta a:after {
    content: ',';
}

.post-meta a:last-of-type:after {
    content: '';
}

.section-container {
    margin: 0 0 3.8rem;
    position: relative;
    width: 100%;
}

.text-ribbon {
    background-color: #ff4081;
    color: #fff;
    font-size: 1.6rem;
    padding: 0.7rem 1.6rem;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    position: absolute;
    top: -1.6rem;
    right: 6%;
    z-index: 10;
}

.text-ribbon span {
    display: block;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
}


#card-container #entry-body blockquote {
    font-style: italic;
    margin: 1.2rem 4%;
    text-align: center;
}

/* Relative position so we can position inner content, like images */
#card-container #entry-body p {
    position: relative;
}

#card-container #entry-body img {
    position: relative;
    left: -5%;
    margin: 1.2rem 0 0;
    width: 110%;
}

#card-container #entry-body ol,
#card-container #entry-body ul {
    font-size: 1.6rem;
}

#card-container #entry-body code {
    background-color: #f5f2f0;
    color: #4e4e4e;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    padding: 0.2em;
}

#card-container #entry-body pre {
    background-color: #f5f2f0;
    font-size: 1.2rem;
    margin: 0.5em 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1.2em 6%;
}

#card-container #entry-body pre > code {
    line-height: 1.6;
    padding: 0;
}

#card-container #entry-body .figcaption {
    display: block;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.7rem 0;
    text-align: center;
}

#card-container #post-creator-data {
    padding: 2.8rem 0;
    width: 100%;
}

#card-container #post-creator-data a {
    color: #03a9f3;
    font-size: 2.1rem;
    font-weight: 600;
    padding: 0;
}

#card-container #post-creator-data a:hover {
    border-bottom: 1px solid #03a9f3;
}

#card-container #post-creator-data div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

#card-container #post-creator-data div:nth-of-type(1) {
    vertical-align: top;
    width: 30%;
}

#card-container #post-creator-data div:nth-of-type(2) {
    padding: 0 0 0 1.2rem;
    width: 70%;
}

#card-container #post-creator-data img {
    border-radius: 50%;
    max-width: 9rem;
    width: 100%
}

#header-buttons {
    float: left;
    margin: 0 0 0 2%;
    width: 24%;
}

#header-buttons span:after {
    content: '#idm';
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 0 0 8%;
    padding: 0.7rem 0;
    vertical-align: super;
}

#header-logo button {
    background-color: transparent;
    border: 0;
    color: #fff;
    padding: 0 0.2em;
    vertical-align: sub;
}

/*#header-logo a {
    border-bottom: 0;
    color: #fff;
    padding: 0 0.2em;
    vertical-align: sub;
}

#header-logo a:hover {
    border-bottom: 0;
}*/

#header-search {
    float: right;
    margin: 0 2% 0 0;
    width: 70%;
}

#header-search input[type='button'],
#header-search input[type='text'] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #b3e5fc;
}

#header-search input[type='button'] {
    font-size: 2.1rem;
    padding: 0.3em 0;
    vertical-align: bottom;
    width: 12%;
}

#header-search input[type='text'] {
    width: 88%;
}

#header-search input[type='text']::-webkit-input-placeholder { color: #61c9f6; }
#header-search input[type='text']::-moz-placeholder { color: #61c9f6; }
#header-search input[type='text']:-moz-placeholder { color: #61c9f6; }
#header-search input[type='text']:-ms-input-placeholder { color: #61c9f6; }

#page {
    position: relative;
    overflow: hidden;
}

#page-body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2%;
}

#page-shadow {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    border: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

#page-wrapper {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

#portable-nav {
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: -21rem;
    -webkit-transition: 0.5 ease all;
    transition: 0.3s ease all;
    /*transition-property: all;
    transition-duration: 0.1s, 0.2s;
    transition-timing-function: linear, ease;*/
    width: 21rem;
    z-index: 2;
}

#portable-nav div:first-of-type {
    border-bottom: 1px solid #e3e3e3;
}

#portable-nav div a {
    border-bottom: 0;
    font-size: 2.8rem;
    font-weight: 300;
    margin: 1.6rem 0 1.6rem 2.1rem;
}

#portable-nav div a:hover {
    border-bottom: 0;
}

#portable-nav div:last-of-type {
    border-top: 1px solid #e3e3e3;
    padding: 2.1rem 0;
}

#portable-nav div:last-of-type a {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

#portable-nav nav {
    display: block;
    padding: 1.2rem 0;
}

#portable-nav nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#portable-nav nav ul li {
    font-size: 1.6rem;
    margin: 0.5rem 0 0.5rem 2.1rem;
}

#portable-nav nav > ul > li {
    margin-bottom: 2.1rem;
}

#portable-nav nav ul li a {
    margin: 0.7rem 0;
}

#posts-list,
#side-panel {
    display: inline-block;
    position: relative;
}

#posts-list article {
    margin-bottom: 2.8rem;
    padding: 0;
}

#posts-list article:last-of-type {
    margin-bottom: 0;
}

#posts-list article h2,
#card-container div h1 {
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0.5rem;
}

#posts-list article .post-header,
#card-container .post-header {
    border: 0;
    color: #fff;
    padding: 2.1rem 6% 1.6rem;
}

#posts-list article div img,
#card-container div img {
    display: block;
    width: 100%;
}

#posts-list article p {
    margin: 2.1rem 0;
}

#posts-list .tag-list-title {
    text-align: center;
}

#posts-list .tag-list-title h1 {
    font-weight: 300;
    line-height: 1;
    padding: 0.5em 0 0;
}

#posts-list .tag-list-title p {
    margin: 0;
    padding: 0.5em 0 2.1rem;
}

#posts-list .post-header.post-header-black {
    color: #cdcdcd;
}

#posts-reel {
    margin-bottom: 3.8rem;
    position: relative;
}

#posts-reel article:first-of-type h4{
    padding-top: 2.8rem;
}

#posts-reel article h4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 2.1rem 0;
}

#posts-reel article h4 {
    display: block;
    margin-top: -0.5rem;
    padding-left: 13.2rem;
    vertical-align: top;
    width: auto;
}

#posts-reel article h4 a {
    display: inline;
}

#posts-reel article img {
    float: left;
    padding: 2.1rem 0;
    width: 12rem;
}

#posts-reel .card-box {
    height: auto;
}

#social-links {
    font-size: 1.6rem;
    position: relative;
    width: 100%;
}

#social-links > div {
    padding: 2.1rem 0;
}

#social-links div div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

#social-links div div a,
#social-links div div img {
    display: block;
    margin: 0 auto 0.5rem;
    text-align: center;
}

#social-links div div a,
#social-links div div a:hover {
    border-bottom: 0;
}

#social-links div div img {
    width: 32px;
}

#viewport {
    background-color: #eee;
    color: #ff4081;
    font-size: 2.1rem;
    padding: 1.2rem;
    position: fixed;
    left: 5rem;
    top: 5rem;
    z-index: 10;
}


/* 480px and up
 * Change popular posts thumbnail size, adjust link padding
   ========================================================================== */

@media screen and (min-width: 480px) and (max-width: 699px) {

    .post-continue {
        width: 65%;
    }


    #header-search input[type='button'] {
        width: 8%;
    }

    #header-search input[type='text'] {
        width: 92%;
    }

    #posts-reel article h4 {
        padding-left: 17.2rem;
    }

    #posts-reel article img {
        width: 16rem;
    }

}


/* 600px and up
 * Make posts' header half the size
   ========================================================================== */

@media screen and (min-width: 600px) and (max-width: 799px){

    html {
        font-size: 11.5px;
    }

    .card-box {
        padding: 0 4%;
    }

    .post-meta div {
        display: inline-block;
    }

    .post-meta div:first-of-type {
        margin: 0 1.6rem 0 0;
    }

    #card-container #entry-body img {
        left: -3%;
        width: 106%;
    }

    #card-container #post-creator-data div:nth-of-type(1) {
        width: 20%;
    }

    #card-container #post-creator-data div:nth-of-type(2) {
        width: 80%;
    }

    #header-search input[type='button'] {
        width: 6%;
    }

    #header-search input[type='text'] {
        width: 94%;
    }

    #posts-list article .post-header,
    #card-container .post-header {
        padding: 2.1rem 4% 1.6rem;
    }

    #posts-reel article h4 {
        font-size: 1.4rem;
    }

    #posts-reel .card-box {
        border-bottom: 2px solid #e3e3e3;
    }

    /*#card-container .post-header,
    #card-container .post-image,
    #posts-list .post-header,
    #posts-list .post-image {
        display: inline-block;
        width: 50%;
    }

    #card-container .post-image,
    #posts-list .post-image {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #card-container .post-image img,
    #posts-list .post-image img {
        height: 100%;
        margin: auto;
        position: absolute;
        top: -100px;
        right: -100px;
        bottom: -100px;
        left: -100px;
        width: auto;
    }

    #card-container > div,
    #posts-list article > div {
        position: relative;
    }*/

}


/* 700px and up
 * Make popular posts double column
   ========================================================================== */

@media screen and (min-width: 700px) and (max-width: 799px){

    .post-continue {
        width: 50%;
    }


    #header-buttons span:after {
        content: 'indevmode.com';
    }

    #posts-reel .card-box {
        height: 13rem;
        padding-right: 2%;
        vertical-align: top;
        width: 50%;
    }

    #posts-reel .card-box:nth-of-type(2) h4 {
        padding-top: 2.8rem;
    }

    /*#posts-reel .card-box:nth-child(even) {
        margin-right: 0.25%;
    }

    #posts-reel .card-box:nth-child(odd) {
        margin-left: 0.25%;
    }*/

}


/* 800px and up
 * Change layout, content and side bar
   ========================================================================== */

@media screen and (min-width: 800px) {

    header {
        margin: 0 0 5rem;
    }


    .post-continue {
        width: 65%;
    }


    #body-main,
    #side-panel {
        display: inline-block;
        vertical-align: top;
    }

    #body-main { width: 58%; }
    #side-panel { width: 42%; }

    #header-buttons span:after {
        content: '#indevmode';
    }

    #header-search input[type='button'] {
        width: 4%;
    }

    #header-search input[type='text'] {
        width: 96%;
    }

    #posts-list article {
        margin-bottom: 5rem;
    }

    #side-panel {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sozing: border-box;
        padding-left: 2%;
    }

}


/* 980px and up
 * Change layout, content and side bar
   ========================================================================== */

@media screen and (min-width: 980px) {

    .post-meta div {
        display: inline-block;
    }

    .post-meta div:first-of-type {
        margin: 0 1.6rem 0 0;
    }

    #body-main { width: 68%; }
    #side-panel { width: 32%; }

    #card-container #post-creator-data div:nth-of-type(1) {
        width: 18%;
    }

    #card-container #post-creator-data div:nth-of-type(2) {
        width: 82%;
    }

}


/* 1080px and up
 * Change layout, content and side bar
   ========================================================================== */

@media screen and (min-width: 1080px) {

    header > div,
    #page-body {
        margin: 0 auto;
        max-width: 120rem;
        width: 100%;
    }


    .post-continue {
        margin: 2.1rem 0;
        width: 25%;
    }


    #body-main { width: 63%; }
    #side-panel { width: 37%; }

    #card-container #post-creator-data div:nth-of-type(1) {
        width: 16%;
    }

    #card-container #post-creator-data div:nth-of-type(2) {
        width: 84%;
    }

    #posts-reel article h4 {
        padding-left: 17.2rem;
    }

    #posts-reel article img {
        width: 16rem;
    }

}


/* 1440px and up
 * Change layout, content and side bar
   ========================================================================== */

@media screen and (min-width: 1440px) {

    html {
        font-size: 12px;
    }

    #header-search input[type='button'] {
        margin-top: 1px;
        vertical-align: top;
    }

}
